@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
.home {
  min-height: 100vh;
  background: linear-gradient(to bottom, #294056, #a65961);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  h1 {
    position: absolute;
    color: white;
    font-size: 140px;
    z-index: 99;
  }

  img {
    position: absolute;
    width: 100%;
    pointer-events: none;
  }
}
header {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 24px;
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 80px;
  z-index: 99;

  nav {
    a {
      margin-left: 20px;
      color: white;
      font-size: 26px;
      transition: 0.3s;
    }
    .active,
    a:hover {
      color: #ff495b;
    }
  }
}
.layer {
  bottom: 0;
}
.moon {
  transform-origin: 50% 100%;
}
.about {
  min-height: 100vh;
  background-color: #3a1820;
  color: white;
  padding: 0 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 60px;

  h1 {
    font-size: 50px;
  }

  p {
    font-size: 16px;
  }
}
.lottie {
  height: 150px;
  width: 150px;
  position: absolute;
  bottom: 30px;
  left: translateX(-50%);
  z-index: 99;
}
